<h1>Sign Up Form</h1>

<%= form_for @user, url: sign_up_path do |f| %>

<%= f.label :first_name %>
<%= f.text_field :first_name %>

<%= f.label :last_name %>
<%= f.text_field :last_name %>

<%= f.label :user_name %>
<%= f.text_field :user_name %>

<%= f.label :password %>
<%= f.password_field :password %>

<%= f.label :password_confirmation %>
<%= f.password_field :password_confirmation %>

<%= f.label :admin %>
<%= f.check_box :admin %>

<%= f.submit "do the thing" %>
<% end %>
