<div class="page-header">
  <h1>Subjects</h1>
</div>

  <table class="table">
    <thead>
      <th>Subject Name</th>
      <th>Color Rating</th>
      <th>Comments</th>
      <th>Edit Rating</th>
    </thead>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= subject.name %></td>
        <% if %>
          <% subject.ratings.where(user_id: current_user.id).first == nil %>
          <td><%= link_to "please add a rating", new_subject_rating_path(subject) %></td>
          <td></td>
          <td></td>
        <% else %>
        <td>
          <% if subject.ratings.where(user_id: current_user.id).first.color == "Red" %>
            <div style="color: red;">
              <%= subject.ratings.where(user_id: current_user.id).first.color %>
            </div>
            <% elsif subject.ratings.where(user_id: current_user.id).first.color == "Yellow" %>
              <div style="color: yellow;">
                <%= subject.ratings.where(user_id: current_user.id).first.color %>
              </div>
            <% else %>
              <div style="color: green;">
                <%= subject.ratings.where(user_id: current_user.id).first.color %>
              </div>
          <% end %>
        </td>
          <td><%= subject.ratings.where(user_id: current_user.id).first.comments %></td>
        <td><%= link_to "edit rating", edit_subject_rating_path(subject, subject.ratings.where(user_id: current_user.id).first)%></td>
        <% end %>
      </tr>
    <% end %>
  </table>
